
body{
    background-color: lightgray;
    color: #8b8;
    font-family: Arial, Helvetica, sans-serif;
}

#grid {
    display: grid;
    grid-template-columns: repeat(var(--GRID-WIDTH), max-content);
}

.cell {
    width: 32px;
    height: 32px;
    background-color: #555;
    border: 1px dotted #444;
    box-sizing: border-box;
}

.north{
    border-top: 2px solid #fffefe;
}

.south{
    border-bottom: 2px solid #ffffff;
}

.east{
    border-right: 2px solid #ffffff;
}

.west{
    border-left: 2px solid #ffffff;
}

.start {
    background-color: rgb(0, 211, 0); 
}

.goal {
    background-color: rgb(255, 2, 36);
}

